.product-card-home {
    background-color: #f1f2f7;
    color: #000;

    .p-name {
        color: #000;
        /* text-wrap: wrap;
        white-space: pre-wrap;
        text-align: center; */
    }
    
    a {
        text-decoration: none;
    }
    /* .product-title {
         text-wrap: wrap;
        white-space: pre-wrap;
        text-align: center;
    } */

    .product-offer-badge {
        position: absolute;
          right: 10px;
          top: 5px;
          width: 70px;
          background: #CE5A67 !important;
      }
  }